@charset "UTF-8";
body,td,th {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
}
html {
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.index-bg {
	background-image: url(Images/lion4.jpg);
}

.about-bg {
	background-image: url(Images/zebra.jpg);
}

.help-bg {
	background-image: url(Images/deer.jpg);
	background-position: top;
}
.upload-bg {
	background-image: url(Images/elephant.jpg);
}
.search-bg {
	background-image: url(Images/cheetah3.jpg);
}

.explore-bg {
	background-image: url(Images/ram.jpg);
}
#logo {
	position: fixed;
	top: 10px;
	width: 251px;
	height: auto;
	z-index: 2;
	float: right;
	right: 2%;
	padding: 5px;
}

#table {
	background-color: #5B0013;
	position: fixed;
	width: 100%;
	height: 32px;
	top: 95px;
	left: 2px;
	right: 2px;
	z-index: 2;
}

#table h2 {
	font-size: 18px;
	display: inline;
}

th {
	padding: 1px 1px 1px 1px;
	text-align:center;
	}

#header {
	position: fixed;
	left: 2%;
	height: 50px;
	z-index: 1;
	padding: 10px;
	top: 10px;
	float: left;
	margin-top: 3px;
}

#header h1 {
	font-size: 36px;
	color: #5B0013;
	display: block;
	line-height: 18px;
	margin:6px;
}
#header h2 {
	font-size: 24px;
	margin:6px;
}
a {
	text-decoration:none;
	color: #FFB71E;
}
a:hover {
	color:white;
}

#welcome {
	position: relative;
	top: 125px;
	width: 60%;
	height: 358px;
	z-index: 1;
	float: right;
	font-size: 16px;
	padding: 3%;
	margin: 0px;
	text-align: center;
}

#welcome td:hover {
	background-color:#FFB71E;
}

#snapshot {
	position: relative;
	line-height: 150%;
	top: 125px;
	width: 30%;
	height: auto;
	z-index: 1;
	float: left;
	font-size: 16px;
	padding: 2%;
	margin: 0px;
	text-align: left;
	color: white;
	background: rgba(0, 0, 0, .7);
}

h3 {
	color: red;
	letter-spacing: 2px;
	font-variant: small-caps;
}
